{{#category}}
	<li class="iconfont category-item">{{{icon}}}</li>
{{/category}}
{{#detailList}}
	<div class="detail-goods">
		<div class="border pic">
			<img class="lazy" data-original="{{src}}"" alt="">
		</div>
		<p class="intro">{{intro}}</p> 
		<p class="pri"><span class="now-pri">{{now_pri}}</span><span class='original-pri'>{{original_pri}}</span></p>
		<div class="new"></div>
	</div>
{{/detailList}}