{{#detailsData}}
    <img class="details_img" src={{{details_img}}}>
    <p class="details_brandName">{{{details_brandName}}}</p>
    <p class="details_goodsName">{{{details_goodsName}}}</p>
    <p class="details_material">{{{details_material}}}</p>
    <p class="details_origin">{{{details_origin}}}</p>
    <p class="details_labelID">{{{details_explain}}}</p>
    <p class="details_category">{{{details_category}}}</p>
    <p class="details_remarks">{{{details_remarks}}}</p>
    <p class="details_other">{{{details_other}}}</p>
{{/detailsData}}