*{
			padding:0;
			margin:0;
		}
		html,body{
			width:100%;
			height:100%;
		}
		.read-body{
			margin:0 auto;
			width:340px;
			height:600px;
			background:pink;
			overflow:hidden;
			border:1px solid #ccc;
		}
		.read-text{
			box-sizing: border-box;
			padding: 10px;
			margin:0 auto;
			width:340px;
			height:460px;
			/*background:plum;*/
			overflow: hidden; 
			color:#333;
			font-size:16px;
			line-height:40px;
			background:green;
		}
		.read-font{
			margin:10px auto;
			width:320px;
			height: 40px;
			margin-bottom:8px;
		}
		.read-font .font-select{
			float:left;
			width:38px;
			height: 38px;
			text-align: center;
			line-height: 38px;
			color:#fff;
			background-color: #ccc;
			cursor: pointer;
			transition: all 0.3s;
		}
		.read-font .font-select:hover{
			transform: scale(1.2);
			color:red;

		}
		.read-font .font-add{
			margin-left:60px;
		}
		.read-font .font-num{
			margin:0 40px 0 40px;
		}
		.read-color{
			margin:0 auto;
			width:320px;
			height: 50px;
			/*background:deeppink;*/
		}
		.read-color .color-item{
			display: block;
			float:left;
			width:40px;
			height: 40px;
			border-radius:50%;
			margin-right:10px;
			transition: all 0.3s;
		}
		.read-color .color-item:hover{
			transform: scale(1.2);
		}
		.read-color a:nth-child(1){
			background-color: #fff;
			margin-left:15px;
		}
		.read-color a:nth-child(2){
			background-color: deeppink;
		}
		.read-color a:nth-child(3){
			background-color: green;
		}
		.read-color a:nth-child(4){
			background-color: plum;
		}
		.read-color a:nth-child(5){
			background-color: #0ff;
		}
		.read-color a:nth-child(6){
			background-color: skyblue;
		}