{{#categories}}
    <li class="category-item iconfont js-category-item">{{{icon}}}</li>
{{/categories}}


{{#goods}}
    <div class="goods">
        <div class="goods-class">
        	<img  class="lazy goods-img" data-original="{{{imgUrl}}}" >
        </div>
    	
    	<div class="goods-name">{{{goods-name}}}</div>
    	<div class="goods-price">
    		<span class="price-rel">{{{price-rel}}}</span>
    		<span class="price-del">{{{price-del}}}</span>
    	</div>
	</div>
{{/goods}}