{{#goods}}
<div class="content-item">
	<div class="content-imgwrapper">
		<img class="lazy" data-original="{{src}}">
	</div>
	<p class="goods-title">{{title}}</p>
	<span class="now-price">&yen;{{now-price}}</span>
	<span class="origin-price">&yen;{{origin-price}}</span>	
</div>
{{/goods}}			