#box{
			width: 400px;
			height: 600px;
			border: 1px solid black;
			position: relative;
		}
		#bottom{
			display: block;
			float:left;
			width:400px;
			height: 120px;
			background: black;
			position: absolute;
			bottom:0;
		}
		.font{
			display: block;
			width:30px;
			height:30px;
			border-radius: 50%;
			border:2px solid #dbdbdb;
			font-size:26px;
			color:white;
			float:left;
			text-align: center;
			line-height:30px;
		}
		.font:nth-child(1){
			position: absolute;
			top:15px;
			left:70px;
		}
		.font:nth-of-type(2){
			position: absolute;
			top:15px;
			left:300px;
		}
		.num{
			width:40px;
			height:40px;
			position: absolute;
			border:2px solid white;
			top:15px;
			left:44%;
			color:white;
			text-align: center;
			line-height:40px;
		}
		.collor{
			width:30px;
			height:30px;
		}
		.color{
			display: block;
			float: left;
			width:360px;
			height:70px;
		}
		.item{
			display: block;
			width:30px;
			height:30px;
			float:left;
			margin-top:58px;
			
			margin-right:42px;
		}
		.item:nth-of-type(1){
			background: white;
		}
		.item:nth-of-type(2){
			background: #cc3;
		}
		.item:nth-of-type(3){
			background: #c93;
		}
		.item:nth-of-type(4){
			background: #699;
		}
		.item:nth-of-type(5){
			background: #363;
		}
		p{
			padding:0 10px;
		
		}
