* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

@mixin extend() {
    background: #333;
    width: 350px;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#bookBox {
    width: 350px;
    margin: 50px auto;
    #paragraph {
        width: 350px;
        height: 400px;
        font-size: 14px;
        color: black;
        background: white;
        overflow: auto;
    }
    #fontSet {
        @include extend();
        border-bottom: 1px dashed #666;
        .fontLi {
            padding: 8px 15px;
            color: white;
            background: grey;
            border-radius: 5px;
        }
    }
    #colorSet {
        @include extend();
        .colorLi {
            width: 30px;
            height: 30px;
            background: lawngreen;
        }
        li:nth-child(2) {
            background: navajowhite;
        }
        li:nth-child(3) {
            background: aqua;
        }
        li:nth-child(4) {
            background: mediumpurple;
        }
        li:nth-child(5) {
            background: teal;
        }
    }
}