{{#itemData}}
    <p class="main-title">{{{datumName}}}</p>
    <div class="main-price">
        <span class="main-newPrice">{{{newPrice}}}</span>
        <span class="main-oldPrice">{{{oldprice}}}</span>
    </div>
    <div class="main-buy">
        <span class="main-buy-show">{{{buy-show}}}</span>
        <span class="main-buy-num">{{{buy-num}}}</span>
    </div>
{{/itemData}}