*{
	margin: 0;
	padding: 0;
}
.swiper-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background:#F6F9FA;
	color:coral;
	overflow: hidden;
}
.bj-1 {
	width: 100%;
	display: block;
}
.bj-p {
	height:80px;
	background: black;
	color: white;
	font-size:48px;
	text-align: center;
}
.index-h {
	position: absolute;
	width: 274px;
    height: 58px;
	margin-left: 50%;
	left: -133px;
	margin-top: 255px;
}
.index-w {
	position: absolute;
	width: 482px;
	height: 114px;
	margin-left: 50%;
	left: -241px;
	margin-top: 353px;
}
.index-d {
	position: absolute;
	width: 160px;
	height: 56px;
	margin-left: 50%;
	left: -76px;
	margin-top: 513px;
}
.index-zj {
	position: absolute;
	width: 132px;
	height: 48px;
	margin-left: 25%;
	left: -66px;
	margin-top: 516px;
}
.index-yj {
	position: absolute;
	width: 132px;
	height: 48px;
	margin-right: 25%;
	right: -66px;
	margin-top: 516px;
}
.index-we {
	position: absolute;
	width: 572px;
	height: 86px;
	margin-left: 50%;
	left: -286px;
	margin-top: 598px;
}

.index-ar {
	font-size: 32px;
	color: #666;
	margin-left: 190px;
	margin-bottom: 20px;
}
.index-lz {
	position: absolute;
	margin-top: 720px;
	
}
.em {
	font-size: 32px;
	margin-left: 248px;
	color: #666;
	font-style: normal;
}
.index-j {
	position: absolute;
	width: 160px;
	height: 184px;
	margin-left: 50%;
	left: -80px;
	margin-top: 920px;
	z-index: 4;
}
.boy {
	width: 766px;
	height: 1132px;
}
.wh {
	position: absolute;
	bottom: 0;
}
.eng {
	position: absolute;
	bottom: 74px;
	left: 3px;
	z-index: 2;
}
.bj{
	position: absolute;
    width: 826px;
    height: 1042px;
    margin-top: 0px;
    margin-left: -89px;
    top: 60px;
}
.bj-tiangle {
	width: 400px;
	height: 443px;
	position: absolute;
	right: 0;
	top: 70px;
}
.bj-invitation {
	width: 232px;
	height: 160px;
	position: absolute;
	right: 75px;
	top: 177px;
}
.bj-line {
	width: 376px;
	height: 84px;
	position: absolute;
	top: 253px;
	right: 1px;
}
.bj-contdown {
	width: 256px;
	height: 112px;
	position: absolute;
	right: 9px;
	top: 197px;
	z-index: 2;
}
.bj-invitation2 {
	position: absolute;
	width: 210px;
	height: 270px;
	top: 300px;
	left: 20px;
}
.groom {
	position: absolute;
	width:160px;
	height: 120px;
	top: 333px;
	left: 82px;
}
.s-groom {
	position: absolute;
	font-size:38px;
	top: 410px;
	left: 81px;
	color: #FFFFFF;
}
.bj-invitation3 {
	position: absolute;
	width: 210px;
	height: 270px;
	top: 468px;
	right: 124px;
}
.wife {
	position: absolute;
	width:250px;
	height: 94px;
	top: 498px;
	right: 11px;
}
.s-wife {
	position: absolute;
	font-size:38px;
	top: 573px;
	right: 190px;
	color: #FFFFFF;
}
.bj-invitation4 {
	position: absolute;
	width: 64px;
	height: 100px;
	top: 416px;
	right: 299px;
}
.hotal {
	position: absolute;
	left: 0;
	bottom: 148px;
	width: 640px;
	height: 266px;
	text-align: center;
	font-size: 30px;
	color: #676767;
	box-sizing: border-box;
	padding-top: 41px;
}
.hotal p{
	line-height: 47px;
	z-index: 3;
}
.mask {
	position: absolute;
	width: 640px;
	height: 266px;
	bottom:130px;
}
.index-j3 {
	position: absolute;
	width: 160px;
	height: 184px;
	margin-left: 50%;
	left: -80px;
	margin-top: 960px;
	z-index: 4;
}
.bj-beach {
	width: 1242px;
	height: 1124px;
	position: absolute;
	top: 0;
	left: -270px;
}
.bj-hu {
	width: 1240px;
	height: 1113px;
	position: absolute;
	top: 0;
	left: -281px;
}
.bj-ba {
	width: 1194px;
	height: 1113px;
	position: absolute;
	top: 0;
	left: -414px;
}
.bj01 {
	position: absolute;
	width: 117%;
	height: 33%;
	z-index: 1;
}
.bj02 {
	position: absolute;
	top: 34%;
	width: 104%;
	height: 33%;
	z-index: 1;
}
.bj03 {
	position: absolute;
	top: 68%;
	width: 100%;
	height: 33%;
	z-index: 1;
}
.bj-04 {
	position: absolute;
	width: 160%;
	height: 100%;
	left: -55%;
}
.box-1 {
	width:528px;
	height:500px;
	overflow: hidden;
	position: relative;
	margin:80px 0 0 60px;
}
.box-1 img{
	position: absolute;
	left: -212px;
}
.box-2 {
	width: 310px;
	height: 420px;
	overflow: hidden;
	position: relative;
	margin:40px 0 0 0;
	float: left;
}
.box-2 img{
	position: absolute;
	left: -212px;
	top: -64px;
}
.box-3 {
	width: 310px;
	height: 420px;
	overflow: hidden;
	position: relative;
	margin:40px 0 0 0;
	float: right;
}
.box-3 img{
	position: absolute;
	left: -261px;
	top: -64px;
}
.bj-042 {
	position:absolute;
	top: 0;
	left: 0;
}
.box-4 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.box-4 img{
	width: 100%;
	height: 100%;
}
.bj-big {
	position: absolute;
	width: 100%;
	height: 100%;
}
.battin {
	position: absolute;
	top: 195px;
	left: 90px;
	z-index: 2;
}
.wed {
	position: absolute;
	top: 200px;
	left: 280px;
	z-index: 2;
}
.iniva {
	position: absolute;
	top: 251px;
	left: 26px;
	z-index: 2;
}
.time {
	position: absolute;
	top: 415px;
	left: 41px;
	z-index: 2;
	width: 570px;
	height: 48px;
	background:#ef5b57;
	color: #FFFFFF;
	text-align: center;
	font-size: 33px;
}
.time p{
	line-height: 48px;
}

.hota {
	position: absolute;
	left: 0;
	bottom: 409px;
	width: 640px;
	height: 266px;
	text-align: center;
	font-size: 34px;
	color: #FFFFFF;
	box-sizing: border-box;
	padding-top: 41px;
}
.hota p{
	line-height: 60px;
	z-index: 3;
}
#container {
	width: 400px;
	height: 400px;
	position: absolute;
	bottom: 45px;
	left: 125px;
	z-index: 2;
}
.cake {
	position: absolute;
	left: 21%;
	bottom: 40%;
}

.music {
		position: absolute;
		width: 100px;
		height: 100px;
		right: 5%;
		top: 2%;
		z-index: 50;
	}

	.active-music {
		animation: music infinite linear 4s;
	}
	@keyframes music{
		from {
			transform: rotate(0);
		}
		to {
			transform: rotate(360deg);
		}
	}
