.swiper-container{
			position:absolute;
			left:0;
			right:0;
			top:0;
			bottom:0;
			background:#fff;
		}
		.swiper-slide{
			position:relative;
			background:url(imgs/bg1.png);
		}
		.index-bg{
			display: block;
			margin:100px auto;
		}
		.index-poper{
			position:absolute;
			top:180px;
			left:200px;
			width: 220px;
			height: 220px;
		}
		.index-bottom{
			position:absolute;
			left:100px;
			bottom:300px;
		}
		.index-text{
			position:absolute;
			bottom:100px;
			left:200px;
			font-size:40px;
			color:plum;
		}
		.index-bottom2{
			position:absolute;
			bottom:60px;
			left:300px;
		}
		.swiper-second{
			position:relative;
		}
		.swiper-second .second-header{
			position:relative;
			top:100px;
			left:60px;
		}
		.second-header2{
			position:relative;
			top:100px;
			left:60px;
		}
		.second-left{
			margin:150px auto; 
			width:270px;
			height:400px;
			background:pink;
		}
		.second-right{
			margin:-550px auto; 
			width:270px;
			height:400px;
			background:pink;
		}
		.second-photo{
			position:absolute;
			top:250px;
			left:190px;
			width:260px;
			height:390px;
		}
		.second-fly{
			position:absolute;
			top:200px;
			left:120px;
		}
		.second-bord{
			display: inline-block;
			margin-top:600px;
			margin-left:0px;
		}
		.second-bord1{
			position:absolute;
			top:680px;
			right:80px;
		}
		.second-text{
			position:absolute;
			bottom:260px;
			left:230px;
			font-size:80px;
			color:plum;
		}
		.second-air{
			position:absolute;
			top:400px;
			right:80px;
		}
		.index-bottomend{
			position: absolute;
			bottom:0;
			width:640px;
			height: 400px;

		}
		.conversation1{
			position:absolute;
			font-size:40px;
			width:200px;
			height: 60px;
			text-align: center;
			line-height: 40px;
			background: blue;
			color:#fff;
			border-radius: 10px;
		}
		.conversation2{
			position:absolute;
			right:10px;
			font-size:40px;
			width:200px;
			height: 60px;
			text-align: center;
			line-height: 40px;
			background:pink;
			color:#fff;
			border-radius: 10px;
		}
		#audio{
			display: none;
		}
		#handle{
			position:relative;
			top:10px;
			left:500px;
			float:left;
			font-size:30px;
			width:100px;
			height:100px;
			color:#fff;
			background:plum;
			border:none;
			margin-right:10px;
			border-radius: 50%;
			opacity: 0.8;
		}
		 #container{
	        width:100%;
	        height:600px;
	      }
	      .info-title{
	        color: white;
	        font-size: 14px;
	        background-color: rgba(0,155,255,0.8);
	        line-height: 26px;
	        padding: 0px 0 0 6px;
	        font-weight: lighter;
	        letter-spacing: 1px
	      }
	      .info-content{
	        padding: 4px;
	        color: #666666;
	        line-height: 23px;
	      }
	      .info-content img{
	        float: left;
	        margin: 3px;
	      }
			