{{#datalist}}
    <li class="contentItem js-contentItem">
        <div class="content-imgwrapper">
            <img class="li-img lazy" src="./imgs/load_wait.gif" data-original={{{imgs}}}>
        </div>
        <!--<img class="li-img lazy" src={{{imgs}}}>-->
        <h1 class="li-name">{{{name}}}</h1>
        <div class="li-price">
            <span class="li-newPrice">${{{new-price}}}</span>
            <span class="li-oldPrice">${{{old-price}}}</span>
        </div>
    </li>
{{/datalist}}