*{
	margin: 0;
	padding: 0;
}
.reader{
	width: 400px;
	height: 600px;
	border: 1px solid #ccc;
	margin: 50px auto;
	padding: 10px;
	position: relative;
}
#text{
	display: block;
	line-height: 26px;
	font-size: 12px;
	width: 400px;
	height: 400px;
	
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 10px;
}
#addBtn{
	width: 30px;
	height: 30px;
	font-size: 20px;
	position: absolute;
	left: 80px;
	top:480px;
}
#reduceBtn{
	width: 30px;
	height: 30px;
	font-size: 20px;
	position: absolute;
	right: 80px;
	top:480px;
}
#fontSize{
	display: block;
	width: 30px;
	height: 30px;
	border: 1px solid #ccc;
	position: absolute;
	top: 480px;
	left: 195px;
	line-height: 30px;
	text-align: center;
}
.list{
	width: 210px;
	height: 30px;
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	margin:0 auto;
}
.js-item{
	float: left;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	line-height: 30px;
	border: 1px solid #ccc;
	text-align: center;
}
.js-item:nth-child(1){
	background: red;
}
.js-item:nth-child(2){
	background: blue;
}
.js-item:nth-child(3){
	background: yellow;
}
.js-item:nth-child(4){
	background: pink;
}
.js-item:nth-child(5){
	background: #ccc;
}


