{{#goods}}
	<div class="content-item">
		<div class="content-imgwrapper">
			<img class="lazy content-img" data-original="{{imgurl}}">
		</div>
		<h1 class="content-title">{{content}}</h1>
		<p class="content-price">
			<span class="price-now"><i>&yen;</i>{{nowPrice}}</span>
			<span class="price-before"><i>&yen;</i>{{beforePrice}}</span>
		</p>
	</div>
{{/goods}}